<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style/index.cs" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <h1 class="header">Set</h1>
      <div class="set">
        <div class="input">
          <input
            type="text"
            class="input__item"
            placeholder="Type value to add or remove..."
          />
        </div>
        <div class="buttons">
          <button class="buttons__item buttons__item_add">Add Item</button>
          <button class="buttons__item buttons__item_remove">
            Remove Item
          </button>
        </div>
        <div class="list__container">
          <ol class="list list_empty"></ol>
        </div>
      </div>
    </div>
    <script src="./set.js"></script>
  </body>
</html>
